@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  /* font-size: 1.5rem; */
  background-color: #c4c4c4;
  color: #18181B;
}

input[type="text"], button {
  font: inherit;
}

main {
  margin: auto;
  max-width: 600px;
  background-color: #F8FAFF;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #333;
}

h1 {
  margin: 0.5rem 0;
}

form, article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8FAFC;
  border: 1px solid #18181B;
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input[type="checkbox"] {
  min-width: 30px;
  min-height: 30px;
  margin-right: 1rem;
}

button {
  /* min-width: 50px;
  min-height: 50px; */
  border: 1px solid #18181B;
  border-radius: 10%;
  cursor: pointer;
}

.trash {
  background-color: #F8FAFC;
  color: #EF4444;
}

.trash:focus, .trash:hover {
  filter:brightness(120%)
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #18181B; */
  border: none;
  margin-bottom: 1rem;
  border-radius: 10px;
}

form label {
  /* position: absolute;
  left: -10000px; */
  display: none;
}

.new-todo {
  width: 100%;
  padding-right: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.5px solid #18181B;
}

.submit {
  background-color: #F8FAFC;
  color: gray;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
  color: #F8FAFC;
}

.top-menu {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
  background-color: #fff;
  margin-bottom: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

button {
  margin: 1em;
  padding: 1em;
  font: inherit;
  border-radius: 5px;
}

p {
  /* color: whitesmoke; */
}

article {
  margin: 1em;
  padding: 1em;
  background-color: #e6edf4;
  /* color: whitesmoke; */
  border-radius: 10px;
}

h2::first-letter,
p::first-letter {
  text-transform: uppercase;
}

img {
  border-radius: 10px;
  display: block;
}

.nav-ex2 {
  margin-top: 1rem;
  justify-content: right;
  margin: 16px;
}

.nav-ex2 button {
  width: 25px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  border: none;
  border-right: 1px solid #000;
  border-radius: 4px;
  padding: 4px;
}

.nav-ex2 button:focus {
  background-color: yellow;
}

.loading {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
}

.articlePost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* max-width: 500px; */
  background-color: #cbefcf;
}

.articlePost0 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* max-width: 500px; */
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px; /* optional: add some gap between the grid items */
}

.id-wrapper {
  padding: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}